rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /inventory/{sku} {
      allow read, write: if true;
    }
    match /transactions/{transactionId} {
      allow read, write: if true;
    }
    match /users/{username} {
      allow read, write: if true;
    }
  }
}
